body {
    color: white;
    background: #ADA996;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Girassol', cursive;
    margin: 0;
    margin-bottom: 40px;
}

.pri {
    font-family: 'Playfair Display', serif;
}

html {
    min-height: 100%;
    position: relative;
}

header {
    font-size: larger !important;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.borderer {
    border-radius: 6px;
}